@page "/generalCatDiseaseHistories/{catId:int}"
@using CapstoneApp.Models;
@using CapstoneApp.Services.Interfaces;
@inject ICatServices CatService

@if (diseaseHistories == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <div>
        <button class="btn btn-default" onClick="history.back();"><i class="oi oi-arrow-left"></i>              Geri</button>
        <button class="btn btn-default" onClick="window.location.reload();" style="margin-left:1000px"><i class="oi oi-reload"></i>              Sayfayı Yenile</button>
    </div>
    <br />
    <p>@cat.ChipCode çip kodlu kedinin geçirdiği tüm hastalıklar (@diseaseHistories.Count kayıt) görüntüleniyor.</p>
    <table class="table">
        <thead>
            <tr>
                <th style="font-size:14px">Hastalık ID'si'</th>
                <th style="font-size:14px">Hastalık Adı</th>
                <th style="font-size:14px">Başlangıç Tarihi</th>
                <th style="font-size:14px">Bitiş Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diseaseHistory in diseaseHistories)
            {
                <tr>
                    <td style="font-size:14px">@diseaseHistory.CatDiseaseHistoryId</td>
                    <td style="font-size:14px">@diseaseHistory.DiseaseName</td>
                    <td style="font-size:14px">@diseaseHistory.StartDate</td>
                    <td style="font-size:14px">@diseaseHistory.EndDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int catId { get; set; }
    private List<CatDiseaseHistory> diseaseHistories;
    private Cat cat;

    protected override async Task OnInitializedAsync()
    {
        diseaseHistories = await CatService.GetDiseaseHistory(catId);
        cat = await CatService.GetCatById(catId);
    }
}
