@page "/generalDogVaccinations/{dogId:int}"
@using CapstoneApp.Models;
@using CapstoneApp.Services.Interfaces;
@inject IDogServices DogService

@if (vaccinations == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <div>
        <button class="btn btn-default" onClick="history.back();"><i class="oi oi-arrow-left"></i>              Geri</button>
        <button class="btn btn-default" onClick="window.location.reload();" style="margin-left:1000px"><i class="oi oi-reload"></i>              Sayfayı Yenile</button>
    </div>
    <br />
    <p>@dog.ChipCode çip kodlu kedinin olduğu tüm aşılar (@vaccinations.Count kayıt) görüntüleniyor.</p>
    <table class="table">
        <thead>
            <tr>
                <th style="font-size:14px">Aşının ID'si</th>
                <th style="font-size:14px">Aşının Adı</th>
                <th style="font-size:14px">Aşıyı Olma Tarihi</th>
                <th style="font-size:14px">Aşının Geçerliliğinin Dolduğu Tarih</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vaccination in vaccinations)
            {
                <tr>
                    <td style="font-size:14px">@vaccination.DogVaccinationId</td>
                    <td style="font-size:14px">@vaccination.Name</td>
                    <td style="font-size:14px">@vaccination.VaccinationDate</td>
                    <td style="font-size:14px">@vaccination.VaccinationExpiryDate</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter]
    public int dogId { get; set; }
    private List<DogVaccination> vaccinations;
    private Dog dog;

    protected override async Task OnInitializedAsync()
    {
        vaccinations = await DogService.GetVaccinations(dogId);
        dog = await DogService.GetDogById(dogId);
    }
}
